/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}


.footer {
  left: 0px;
  position: fixed;
  bottom: -1px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #000000;
  color: white;
  z-index: 1000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0px 15px;
}
.container .text-muted {
  margin: 20px 0; 
}
