body{			
	background-color: rgb(247,247,247);
	max-width:1080px;
	margin:0 auto;	
	height:100%;
}

h1,h2,h3{text-align: center;}
h4{text-align:left;}
ul{text-align: center;}

#maincontent{
position: absolute;
top: 50px;
left: 10px;
right: 10px;
padding-bottom: 80px;
}

#mapcontent{
position: absolute;
top: 50px;
left: 50px;
right: 50px;
padding-bottom: 80px;
}

#meettheteamcontent{
top: 40px;
padding-bottom: 40px;
}

#arduinocontent{
padding-bottom: 40px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#canvasOne{
width:600;
height:700;
}

#mapContainer{
text-align: center;
}

.legend td,.legend th{
padding: 5px;
}

.legendSymbol
{
	text-align: center;	
}

.greenPm, .yellowPm, .redPm, .lightyellowBc, .brightyellowBc, .orangeBc
{
	text-align: center;	
	font-size: 2em;
}

.greenPm{
color:rgb(49, 163, 84)
}

.yellowPm{
color:rgb(254, 196, 79)
}

.redPm{
color:rgb(240, 59, 32)
}

.lightyellowBc{
color:rgb(255, 247, 188)
}

.brightyellowBc{
color:rgb(254, 196, 79)
}

.orangeBc{
color: rgb(217, 95, 14) 
}

.photoContent{
	position: relative;
	width: 100%;
    top: 50px;
	image align: center
}

#video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.4%; }
#video { position: absolute; left: 3%; top: 5%; width: 94%; height: 90%; }

.footer-left {
	position: absolute;
	top:10px;
	color: white;
	left:45%;
}

.www-attribution {
	position: relative;
	top: -22px;
	left: 370px;
	color: #d9d9d9;
	font-size: 10px;
}
.www-attribution a {
	color:#d9d9d9;
	text-decoration: underline;
}

.scroll-down-instructions {
	position: fixed;
	bottom: 5px;
	left:20px;
	color: white;
	text-decoration: bold;
	z-index: 5000;
	font-size: 12px;
	white-space:nowrap;
	
}
img {
        height: 100px;
        width: 100px;
        object-fit: contain;
}

#home #homelink, #arduinosensors #arduinosensorslink, #kathmandu #kathmandulink, #springfield #springfieldlink, #meettheteam #meettheteamlink{
color:purple;
}

#homelink:hover{color:purple;}
#arduinosensorslink:hover{color:purple;}
#kathmandulink:hover{color:purple;}
#springfieldlink:hover{color:purple;}
#meettheteamlink:hover{color:purple;}


#title-box{
	background-color: rgb(239,239,239);
	margin-right: 0px;
	margin-top:0px;
    margin-bottom: 0px;
    margin-left:0px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:120px;
	padding-right:120px;
	
}

 ul.navigation {
	margin-right: 0px;
	margin-top:0px;
    margin-bottom: 0px;
    margin-left:0px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:120px;
	padding-right:120px;
	list-style:none;
	border-bottom:1px solid RGB(213, 210, 204);
	overflow:hidden;
	zoom:1;
}

ul.navigation li {
    float:left;
}

ul.navigation a{
	width:10em;
	display:inline;
	padding-left:20px;
	padding-right:20px;
	background-color: rgb(239,239,239);
	text-decoration:none;
	color:black;
	text-align:center;

}

#box-set {
	margin-right: 0px;
	margin-top:0px;
    margin-bottom: 0px;
    margin-left:0px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:100px;
	padding-right:100px;

}

	
.box {
  float: left;
  width:160px;
  color:black;
  text-align: center;
  border-top:1px solid RGB(213, 210, 204);
  border-bottom:1px solid RGB(213, 210, 204);
}

.box:hover{color:purple ; background-color:rgb(225,225,225) ;}
.box:active{color:purple ;background-color:rgb(225,225,225) ;}

.link{
	color:rgb(95,95,95) ;
	}
.link:hover{color:blue ;}
.link:active{color:blue ;}

#Pic{
	width: 120px;
	float: left;
	margin-right: 30px;
	margin-top:0px;
    margin-bottom: 0px;
}