<!DOCTYPE html>
<html>
    <head>
		<%- commonHeader %>
    </head>
	    <body id ="home">
			<%- commonNavigation %>
			<div id = maincontent class="container-fluid">
				<div class="col-sm-12">
<br>
<h4 id="subtitle"> AWAITING CONTENT <br><br> Citizen Science Arduino Air Quality Monitoring:</h4>
<h4> Utilizing youth, students and community residents to assist in real-world research science. </h4>
<p> During the months of June and July a University of Massachusetts/Amherst research team has worked

on an Arduino air sensor project, aimed at engaging youth and citizen-scientists in the collection of air

pollution levels in Springfield, Massachusetts. Arduino is an open source technology which allows all

who work with the Arduino mini-computer to share and learn from each other. The small Arduino

computer can be used for a myriad of different functions that allow users to customize the specific

applications and utilities use by the Arduino hardware. This project specifically uses technology to

create low-cost air sensors to gauge the air quality in downtown Springfield, New England’s fourth

largest city. </p>

<p>The experiment itself utilizes two different locations in downtown Springfield. One of the locations has

many trees. and the air quality readings are taken in the shade. While the sister location is across the

street, away from any trees and greenspace, and reading are taken in direct sunlight. Both of these

locations are on Main Street in downtown Springfield, which mean the sensors are exposed to the

exhausts of hundreds of cars per hour. The sensors have the capability of measuring the air for Carbon

Monoxide and Ozone. The goal of the project is to correlate the presence of trees to the quality of the

air, as well as to showcase the usefulness and cost friendliness of the Arduino computer technology.

Along with the UMass team, students and residents from Springfield have come to the Springfield

Make-It Space where they have learned about the Arduino technology, as well as assisted in the

collection of the data at the two sites in the downtown district. </p>

<p> As the data is analyzed it is expected to find a strong correlation between the occurrence of trees and

improved air quality. The concept being that the trees filter out the unhealthy and dangerous gasses

found in the air of highly urbanized landscapes. If the experiment is successful it is hoped that one

would be able to justify the addition of more trees as an essential improvement to health and quality of

life in high traffic areas not just in Springfield, but around the world. </p>

			</div>	
	</div>			

</body>
	
</html>