<!DOCTYPE html>
<html>
    <head>
		<%- commonHeader %>
    </head>
	    <body id ="home">
			<%- commonNavigation %>
			<div id = maincontent class="container-fluid">
				<div class="col-sm-12">
<br>
<h4 id="subtitle"> Jack and Dom's Text Content will be added here <br><br> 

			</div>	
	</div>			
 
 <%-commonFooter%>

</body>
	
</html>