<!DOCTYPE html>
<html>
    <head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset= "utf-8">
        <title>Five Colleges | Smart Cities and Air Pollution | NASA WebWorldWind Project</title>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
		<cd('C:\Users\Palista\Documents\GitHub\UrbanAirQuality\web')>

    </head>
	    <body id ="home">
			<div id = "fivecolleges-title-box">
				<ul class="navigation">
					<li><a id="homelink" STYLE="text-decoration: none" href="index.ejs">HOME</a></li>
					<li><a id="arduinolink" STYLE="text-decoration: none" href="arduinosensors.ejs">ARDUINO SENSORS</a></li>
					<li><a id="ktmlink" STYLE="text-decoration: none" href="kathmandu.ejs">KATHMANDU</a></li>
					<li><a id="springfieldlink" STYLE="text-decoration: none" href="springfield.ejs">SPRINGFIELD</a></li>
					<li><a id="meettheteamlink" STYLE="text-decoration: none" href="meettheteam.ejs">MEET THE TEAM </a></li>
				</ul>
			</div>
				
				<br>
				<h2  id="title"> Open City Smart and Air Quality Sensing: </h2>
				<h2 id ="title"> Coupling Low-Cost Open Source Arduino-based Air Quality Sensor Data </h2>  
				<br>
				<h3 id = "position"> Five Colleges NASA WebWorldWind Project </h3> 
				
				<p>
				<div style="text-align: center;"><img id="pic" alt="pic" href="/images/wwd.png", width=100%></div>
				</p>
				
				<h4 id="subtitle"> About the Project</h4>
				
				<p>This project maps and analyzes air pollution data collected from three urban locations around the world: Nepal, Ghana and the United States.  It involves three key components. Part I involves the design, development and communication of the open source design of low-cost Arduino air quality sensors. Part II involves the collection of data using these sensors, which is happening currently in Springfield and will also happen later this Fall in Ghana. Part III entails the use of NASA’s open source virtual globe technology, WebWorldWind, to display the collected data and to display results of spatio-temporal data analyses of this data. We will also display similar spatio-temporal air quality data collected with non-arduino sensors in Kathmandu, Nepal.  </p>
				
		
					
				<h4 id="subtitle"> Video Documenting the Project</h4>
				<p> A short 3 minute video will also be uploaded here </p>
				
		</div >
		<br>
		
	
		<div id="box-set">
			<a class="box" STYLE="text-decoration: none" href="index.ejs"><figure ><h4>Home</h4> <img src = "/images/wwd.png" alt="Home" width="70" height="70"></figure> </a>
			<a class="box" STYLE="text-decoration: none" href="arduinosensors.ejs"><figure ><h4>Arduino Sensors</h4> <img src = "/images/arduino.png" alt="Arduino" width="70" height="70"></figure> </a>
			<a class="box" STYLE="text-decoration:none" href="kathmandu.ejs"><figure> <h4> Kathmandu</h4><img src = "/images/ktm.jpg" alt="Kathmandu" width="70" height="70"> </figure></a>
			<a class="box" STYLE="text-decoration:none" href="springfield.ejs"><figure> <h4> Springfield</h4><img src = "/images/springfield.jpg" alt="Springfield" width="70" height="70"> </figure></a>
			<a class="box" STYLE="text-decoration:none" href="meettheteam.ejs"><figure> <h4>Meet The Team</h4><img src = "/images/Contact.jpg" alt="Meet The Team" width="70" height="70"></figure></a>
		</div>
		<br>
		
		
		 
    </body>
	
</html>