


<!DOCTYPE html>
<html>
    <head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset= "utf-8">
        <title>Five Colleges | Smart Cities and Air Pollution | NASA WebWorldWind Project</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    </head>
	    <body id ="home">
			<div id = "fivecolleges-title-box">
				<ul class="navigation">
				<li><a id="homelink" STYLE="text-decoration: none" href="/">HOME</a></li>
				<li><a id="globelink" STYLE="text-decoration: none" href="/nepal_latlong">GLOBE DATA</a></li>
				<li><a id="analyseslink" STYLE="text-decoration: none" href="/researchanalyses">RESEARCH ANALYSES</a></li>
				<li><a id="aboutuslink" STYLE="text-decoration: none" href="/meettheteam">MEET THE TEAM</a></li>
				</ul>
				
				<h2  id="title"> Smart Cities and Air Population Data </h2>  	
				<h3 id = "position"> Five Colleges NASA WebWorldWind Project </h3> <br> <br>
				

				<p  id = "About the Project">
				<img id="pic" alt="pic" src="/images/fivecolleges.png", width=175%>
				</p>
				<p>Here will be a description about the project </p>
				<p> Some more text here about the Arduino sensors that were developed and enhanced</p>
				<p> A short 3 minute video will also be uploaded here </p>
				
		</div >
		<br>
		
	
		<div id="box-set">
			<a class="box" STYLE="text-decoration: none" href="/"><figure ><h4>Home</h4> <img src = "/images/wwhorizon.png" alt="Home" width="70" height="70"></figure> </a>
			<a class="box" STYLE="text-decoration:none" href="/nepal_latlong"><figure> <h4> Globe Data</h4><img src = "/images/AirPollution.jpg" alt="Classes" width="70" height="70"> </figure></a>
			<a class="box" STYLE="text-decoration: none" href="/researchanalyses"><figure > <h4> Research</h4><img src = "/images/Analysis.jpg" alt="Research Analyses" width="70" height="70"> </figure></a>
			<a class="box" STYLE="text-decoration:none" href="/meettheteam"><figure> <h4>Contact</h4><img src = "/images/Contact.jpg" alt="Contact" width="70" height="70"></figure></a>
		</div>
		<br>
		
		
		 <div id="footer">&copy; 2016</div>
    </body>
	
</html>