<!DOCTYPE html>

<html>
    <head>
		<%- commonHeader %>
    </head>
	    
	<body id ="home">
		<%- commonNavigation %>
		
	<div class="page-header">
      </div>
         <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Project Sponsors and Partners</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
	<div class="row">
        <div class="col-sm-6">
			<a href="https://www.masspolicy.org/"><img src="/images/spp.gif" alt="School Of Public Policy Logo" style="width:400px;height:112px;border:0;"></a>
		</div>
		<div class="col-sm-6">
				<a href="http://www.science.smith.edu/sal/"><img src="/images/sal.png" alt="Spatial Analysis Lab Logo" style="width:400px;height:112px;border:0;"></a>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-6">
				<a href="https://www.amherst.edu/offices/it"><img src="/images/amherst.png" alt="Amherst College Seal" style="width:180px;height:180px;border:0;"></a>
		</div>
		<div class="col-sm-6">
				<a href="http://www.unri.org/"><img src="/images/usda.png" alt="USDA Forest Service Logo" style="width:180px;height:180px;border:0;"></a>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-6">
				<a href="http://www.makeitspringfield.org/"><img src="/images/makeit.jpg" alt="Make-It Springfield Logo" style="width:400px;height:112px;border:0;"></a>
		</div>
		<div class="col-sm-6">
				<a href="http://www.icimod.org/"><img src="/images/icimod.jpg" alt="ICIMOD Logo" style="width:400px;height:112px;border:0;"></a>
		</div>
	</div>
			</div>
           </div>
		 </div>
		
	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">UMass Amherst Student Development Team</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
			<div class="row">
			<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/palista-kharel-a9042957"><img src="/images/pali.jpg" alt="Palista" height="150">
						<figcaption>Palista Kharel</figcaption>
			</div>
			<div class="col-sm-6">
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/filimon.jpg" alt="Filimon" height="150">
						<figcaption>Filimon Kiros</figcaption>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/scott.jpg" alt="Ben" height="150">
						<figcaption>Benjamin Lazan</figcaption>
			</div>
			<div class="col-sm-4">
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/jack.jpg" alt="Jack" height="150">
						<figcaption>Jack Mulcahy</figcaption>
			</div>
			<div class="col-sm-4">
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/scott.jpg" alt="Dom" height="150">
						<figcaption>Dominic Savoie</figcaption>
			</div>
		</div>
            </div>
	</div>
	</div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Five Colleges Faculty Mentors</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
			<div class="row">
				<div class="col-sm-4" style="text-align: right">
						<a href="http://eco.umass.edu/people/faculty/schweik-charles-m/"><img src="/images/charlie.jpg" alt="Charlie" height="150">
						<figcaption>Charles Schweik</figcaption>
				</div>
				<div class="col-sm-4">
						<a href="https://www.amherst.edu/people/facstaff/aanderson/"><img src="/images/andy.png" alt="Andy" height="150">
						<figcaption>Andy Anderson</figcaption>
				</div>
				<div class="col-sm-4" style="text-align: left">
					<figure>
						<a href="https://www.linkedin.com/in/joncaris"><img src="/images/jon.jpg" alt="Jon" height="150">
						<figcaption style ="text-align:center">Jon Caris</figcaption>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
						<a href="https://www.linkedin.com/in/scott-gilman-a3139196"><img src="/images/scott.jpg" alt="Scott" height="150">
						<figcaption>Scott Gilman</figcaption>
				</div>
				<div class="col-sm-3">
						<a href="https://www.linkedin.com/in/dbloniarz"><img src="/images/david.jpg" alt="David" height="150">
						<figcaption>David Bloniarz</figcaption>
				</div>
				<div class="col-sm-3">
						<a href="https://www.umass.edu/sphhs/person/faculty/richard-e-peltier"><img src="/images/rick.jpg" alt="Rick" height="150">
						<figcaption>Richard Peltier</figcaption>
				</div>
				<div class="col-sm-3">
						<a href="https://www.umass.edu/larp/people/michael-di-pasquale"><img src="/images/michael.jpg" alt="Michael" height="150">
						<figcaption>Michael DiPasquale</figcaption>
				</div>
	        </div>
			</div>
		</div>
	</div>
	</body>
	
</html>
