<!DOCTYPE html>

<html>
    <head>
		<%- commonHeader %>
    </head>
	<body id ="home">
		<%- commonNavigation %>
	<div id="meettheteamcontent">
	<div class="page-header">
      </div>
         <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Project Sponsors and Outreach Partners</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
	<div class="row">
        <div class="col-sm-3">
			<a href="https://www.masspolicy.org/"><img src="/images/spp.gif" alt="School Of Public Policy Logo" style="width:250px;height:100px;border:0;"></a>
		</div>
		<div class="col-sm-3">
				<a href="https://www.amherst.edu/offices/it"><img src="/images/amherst.png" alt="Amherst College Seal" style="width:90px;height:90px;border:0;"></a>
		</div>
		<div class="col-sm-3">
			<a href="http://www.unri.org/"><img src="/images/usda.png" alt="USDA Forest Service Logo" style="width:90px;height:90px;border:0;"></a>
		</div>
		<div class="col-sm-3">
				<a href="http://www.science.smith.edu/sal/"><img src="/images/sal.png" alt="Spatial Analysis Lab Logo" style="width:250px;height:100px;border:0;"></a>
		</div>
	</div>
	<br/></br>
	<div class="row">
        <div class="col-sm-3">
			<a href="http://www.makeitspringfield.org/"><img src="/images/makeit.jpg" alt="Make-It Springfield Logo" style="width:250px;height:100px;border:0;"></a>
		</div>
		<div class="col-sm-3">
			<a href="http://tribhuvan-university.edu.np/"><img src="/images/tu.jpg" alt="TU Logo" style="width:90px;height:90px;border:0;"></a>
		</div>
		<div class="col-sm-3">
			<a href="http://nhrc.org.np/"><img src="/images/nhrc.jpg" alt="NHRC Logo" style="width:90px;height:90px;border:0;"></a>
		</div>
		<div class="col-sm-3">
			<a href="http://www.iass-potsdam.de/en"><img src="/images/iass.jpg" alt="USDA Forest Service Logo" style="width:125px;height:125px;border:0;"></a>
		</div>
	</div>
	</div>
	</div>
	</div>
			
	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">University of Massachusetts Amherst Student Team</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
			<div class="row">
			<div class="col-sm-4">
						<img src="/images/pali.jpg" alt="Palista" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/palista-kharel-a9042957">Palista Kharel</a><br/>Statistical Programmer</br>Data Analyst</br>Web and Map Developer</br>Web Content Writer</figcaption>
			</div>
			<div class="col-sm-4">
						<img src="/images/jack.jpg" alt="Jack" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/jack-mulcahy-b94a20126">Jack Mulcahy</a><br/>Springfield Data Collection Content Writer<br/>Homepage Video Producer</br>Field Data Collector</figcaption>
			</div>
			<div class="col-sm-4">
						<img src="/images/dom.jpg" alt="Dom" width="150" height="150">
						<figcaption><a href="http://linkedin.com/in/dominic-s-840971a4">Dominic Savoie</a><br/>Arduino Sensors Page Content Writer</br>Homepage Video Production Assistant</br>Field Data Collector</figcaption>
			</div>
			
		</div>
		<br/></br>
		<div class="row">
			<div class="col-sm-4">
						<img src="/images/filimon.jpg" alt="Filimon" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/filimon-kiros-42092545">Filimon Kiros</a><br/>Arduino Sensors Developer</figcaption>
			</div>
			<div class="col-sm-4">
						<img src="/images/umass.gif" alt="umasslogo" width="180" height="180">
			</div>
			<div class="col-sm-4">
						<img src="/images/ben.jpg" alt="Ben" width="200" height="200">
						<figcaption><a href="https://www.linkedin.com/in/filimon-kiros-42092545">Benjamin Lazan</a><br/>Arduino Sensors Developer</figcaption>
			</div>
			
			
		</div>
            </div>
	</div>
	</div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Five Colleges Faculty Mentors</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
			<div class="row">
				<div class="col-sm-3">
						<img src="/images/charlie.jpg" alt="Charlie" width="150" height="150">
						<figcaption><a href="http://eco.umass.edu/people/faculty/schweik-charles-m/">Charles Schweik</a><br/>Project Management</figcaption>
				</div>
				<div class="col-sm-3">
						<img src="/images/andy.png" alt="Andy" width="150" height="150">
						<figcaption><a href="https://www.amherst.edu/people/facstaff/aanderson/">Andy Anderson</a><br/>Web and Map Development</figcaption>
				</div>
				<div class="col-sm-3">
						<img src="/images/gilman.jpg" alt="Scott" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/scott-gilman-a3139196">Scott Gilman</a><br/>Web and Map Development</figcaption>
				</div>
				<div class="col-sm-3">
						<img src="/images/jon.jpg" alt="Jon" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/joncaris">Jon Caris</a><br/>GIS Consulting</figcaption>
				</div>
				</div>
			<br/></br>
			<div class="row">
				<div class="col-sm-4">
					<div style="text-align: right;">
						<img src="/images/david.jpg" alt="David" width="150" height="150">
						<figcaption><a href="https://www.linkedin.com/in/dbloniarz">David Bloniarz</a><br/>Video and Springfield Outreach</a></figcaption>
					</div>
				</div>
				<div class="col-sm-4">
						<img src="/images/rick.jpg" alt="Rick" width="150" height="150">
						<figcaption><a href="https://www.umass.edu/sphhs/person/faculty/richard-e-peltier">Richard Peltier</a><br/>Kathmandu Data Collection</figcaption>
				</div>
				<div class="col-sm-4">
					<div style="text-align: left;">
						<img src="/images/michael.jpg" alt="Michael" width="150" height="150">
						<figcaption><a href="https://www.umass.edu/larp/people/michael-di-pasquale">Michael DiPasquale</a><br/>Springfield Data Collection</figcaption>
				</div>
	        </div>
			</div>
		</div>
	</div>
	 <%-commonFooter%>
    </div>
	</body>
	
</html>
