

<p>

	Faculty Mentors: 
	Charlie Schweik (Environmental Conservation and School of Public Policy); Richard Peltier (Environmental Health Sciences); Dr. Andy Anderson (IT, Amherst College); Scott Gilman and Jon Caris (Spatial Data Analysis Lab, Smith College); David Bloniarz (USDA Forest Service, Urban Natural Resources Institute); Michael DiPasquale (Regional Planning) 
<br>
<br>
	Student Team: 
	Palista Kharel (Master of Public Policy and Business Administration), Filimon Kiros (PhD, Environmental Health), Benjamin Lazan (undergraduate, UMass Computer Science), Dominic Savoie (undergraduate, UMass Mechanical Engineering) and John Mulcahy (undergraduate, UMass Communications). 
</p>