<!DOCTYPE html>
<html>
    <head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset= "utf-8">
        <title>Five Colleges | Smart Cities and Air Pollution | NASA WebWorldWind Project</title>
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css">
    </head>
	    
	<body id ="home">
			<div id = "fivecolleges-title-box">
				<ul class="navigation">
				<li><a id="homelink" STYLE="text-decoration: none" href="/">HOME</a></li>
				<li><a id="arduinolink" STYLE="text-decoration: none" href="arduinosensors">ARDUINO SENSORS</a></li>
				<li><a id="ktmlink" STYLE="text-decoration: none" href="kathmandu">KATHMANDU</a></li>
				<li><a id="springfieldlink" STYLE="text-decoration: none" href="springfield">SPRINGFIELD</a></li>
				<li><a id="meettheteamlink" STYLE="text-decoration: none" href="meettheteam">MEET THE TEAM</a></li>
				</ul>
				</div>
				
		<h4 id="subtitle">Project Sponsors and Partners</h4>
			<br>
			<p>
				<div style="text-align: center;">
				<a href="https://www.masspolicy.org/"><img src="/images/spp.gif" alt="School Of Public Policy Logo" style="width:400px;height:112px;border:0;"></a>
				<a href="http://www.science.smith.edu/sal/"><img src="/images/sal.png" alt="Spatial Analysis Lab Logo" style="width:400px;height:112px;border:0;"></a>
			</p>
			<p>
				<div style="text-align: center;">
				<a href="https://www.amherst.edu/offices/it"><img src="/images/amherst.png" alt="Amherst College Seal" style="width:180px;height:180px;border:0;"></a>
				<a href="http://www.unri.org/"><img src="/images/usda.png" alt="USDA Forest Service Logo" style="width:180px;height:180px;border:0;"></a>
			</p>
			<p>
				<div style="text-align: center;">
				<a href="http://www.makeitspringfield.org/"><img src="/images/makeit.jpg" alt="Make-It Springfield Logo" style="width:400px;height:112px;border:0;"></a>
				<a href="http://www.icimod.org/"><img src="/images/icimod.jpg" alt="ICIMOD Logo" style="width:400px;height:112px;border:0;"></a>
			</p>
			<br>
			
		<h4 id="subtitle">UMass Amherst Student Development Team</h4>
		<br>
					<figure >
						<a href="https://www.linkedin.com/in/palista-kharel-a9042957"><img src="/images/pali.jpg" alt="Palista" width="150" height="150"><img align="middle">
						<figcaption>Palista Kharel(MPPA and MBA).</figcaption>
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/filimon.jpg" alt="Filimon" width="150" height="150">
						<figcaption>Filimon Kiros (PhD in Environmental Health).</figcaption>
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/scott.jpg" alt="Ben" width="150" height="150">
						<figcaption>Benjamin Lazan(Bachelor's in Computer Science).</figcaption>
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/jack.jpg" alt="Jack" width="150" height="150">
						<figcaption>Jack Mulcahy (Bachelor's in Communication).</figcaption>
						<a href="https://www.linkedin.com/in/filimon-kiros-42092545"><img src="/images/scott.jpg" alt="Dom" width="150" height="150">
						<figcaption>Dominic Savoie (Bachelor's in Mechanical Engineering).</figcaption>
					</figure>
					<br>
		
			<h4 id="subtitle">Five Colleges Faculty Mentors</h4>
					<figure>
						<a href="http://eco.umass.edu/people/faculty/schweik-charles-m/"><img src="/images/charlie.jpg" alt="Charlie" width="150" height="150">
						<figcaption>Charles M. Schweik (Professor, UMass Environmental Conservation and School of Public Policy)</figcaption>
						<a href="http://aanderson.people.amherst.edu/"><img src="/images/scott.jpg" alt="Andy" width="150" height="150">
						<figcaption>Andy Anderson (Academic Information Specialist, Amherst College)</figcaption>
						<a href="https://www.linkedin.com/in/joncaris"><img src="/images/jon.jpg" alt="Jon" width="150" height="150">
						<figcaption>Jon Caris (Director, Smith College Spatial Analysis Lab)</figcaption>
						<a href="https://www.linkedin.com/in/scott-gilman-a3139196"><img src="/images/scott.jpg" alt="Scott" width="150" height="150">
						<figcaption>Scott Gilman (Post-Baccalaureate Spatial Analysis Fellow, Smith College)</figcaption>
						<a href="https://www.linkedin.com/in/dbloniarz"><img src="/images/david.jpg" alt="David" width="150" height="150">
						<figcaption>David Bloniarz (Project Coordinator, USDA Forest Service)</figcaption>
						<a href="https://www.umass.edu/sphhs/person/faculty/richard-e-peltier"><img src="/images/rick.jpg" alt="Rick" width="150" height="150">
						<figcaption>Richard E. Peltier (Assistant Professor, UMass Environmental Health Sciences)</figcaption>
						<a href="https://www.umass.edu/larp/people/michael-di-pasquale"><img src="/images/michael.jpg" alt="Michael" width="150" height="150">
						<figcaption>Michael G. DiPasquale (Assistant Professor, UMass Regional Planning)</figcaption>
					</figure>
					<br>
					
			<div id="box-set">
				<a class="box" STYLE="text-decoration: none" href="/"><figure ><h4>Home</h4> <img src = "/images/wwd.png" alt="Home" width="70" height="70"></figure> </a>
				<a class="box" STYLE="text-decoration: none" href="arduinosensors"><figure ><h4>Arduino Sensors</h4> <img src = "/images/arduino.png" alt="Arduino" width="70" height="70"></figure> </a>
				<a class="box" STYLE="text-decoration:none" href="kathmandu"><figure> <h4> Kathmandu</h4><img src = "/images/ktm.jpg" alt="Kathmandu" width="70" height="70"> </figure></a>
				<a class="box" STYLE="text-decoration:none" href="springfield"><figure> <h4> Springfield</h4><img src = "/images/springfield.jpg" alt="Springfield" width="70" height="70"> </figure></a>
				<a class="box" STYLE="text-decoration:none" href="meettheteam"><figure> <h4>Meet The Team</h4><img src = "/images/Contact.jpg" alt="Meet The Team" width="70" height="70"></figure></a>
			</div>
		<br>
		
	</body>
	
</html>