<!DOCTYPE html>
<!-- Mapping air pollution data for Springfield, Massachusetts using WebWorldWind. -->

<html>

	<head lang="en">
		<%- commonHeader %>
		<title>Springfield Data Visualization</title>
		<!-- Include the Web World Wind library. -->
		<script src="http://worldwindserver.net/webworldwind/worldwindlib.js" type="text/javascript"></script>
		<script src="/js/jquery-3.1.0.slim.min.js" type="text/javascript"></script>
		<script src="/js/bootstrapslider.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/bootstrapslider.css">
	</head>

	<body id ="home">
		<%- commonNavigation %>
		<div id = mapcontent class="container-fluid">
			<div class="col-sm-12">
				<h2 id="subtitle">Air Quality in Springfield, Massachusetts, USA<br/><br/></h2>
			</div>
			<div class=row style=text-align:justify;>
				<div class="col-sm-4">
				 <p>
					<b>Drag slider to see change in air quality <br/>over collection period</b><br><br>
					<input id="ex1" data-slider-id='ex1Slider' type="text" 
						data-slider-min="10" data-slider-max="15" data-slider-step="1" 
						data-slider-value="0" data-slider-tooltip="hide"/>
						&nbsp;<span id='time'>10:00</span><br />
					<input type="radio" name="airquality" value="ozone" checked> Ozone <br>
					<input type="radio" name="airquality" value="carbonm"> Carbon Monoxide<br>
				  </p>
				  <br><br>
					<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">Legend: Springfield Air Quality</h3>
					</div>
					<div class="panel-body">
					<table class = legend>
						<thead>
							<tr>
								<th class = legendSymbol>Symbol</th>
								<th>Ozone Level (Dobson units)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class = greenPm>&#x25A0;</td>
								<td>&le; 45</td>
							</tr>
							<tr>
								<td class = yellowPm>&#x25A0;</td>
								<td>&gt; 45 and &le; 60</td>
							</tr>
							<tr>
								<td class = redPm>&#x25A0;</td>
								<td>&gt; 60</td>
							</tr>
						</tbody>
					</table>
					<br>
					<table class = legend>
						<thead>
							<tr>
								<th class = legendSymbol>Symbol</th>
								<th>Carbon Monoxide Level (ppm)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class = lightyellowBc>&#x25A0;</td>
								<td>&le; 2.5</td>
							</tr>
							<tr>
								<td class = brightyellowBc>&#x25A0;</td>
								<td>&gt; 2.5 and &le; 4</td>
							</tr>
							<tr>
								<td class = orangeBc>&#x25A0;</td>
								<td>&gt; 4</td>
							</tr>
						</tbody>
					</table>

					</div>
				</div>
				</div>
				<div class="col-sm-8" style="text-align: center;">
					<!-- Create a canvas for Web World Wind. -->
					<canvas id="canvasOne" width=600 height=700 style="text-align: center;"></canvas>
					<div class="www-attribution style" style="text-align: left;">Built with NASA's <a href="https://webworldwind.org/" target="_blank">Web World Wind</a></div>
				</div>
				
            </div>
                    

	<script>
	
		var slider = new Slider('#ex1', {
		});
		
		// Displays instructions to scroll down for results, if results section is not on page 
		window.onscroll = function() {
			var pageBottom = $(window).scrollTop() + $(window).height();
			var elementTop = $('#results-intro').offset().top;
			if (elementTop < pageBottom) {
				$('.scroll-down-instructions').hide();
			  } else {
				$('.scroll-down-instructions').show();
			  }
		}	
		
		function colorcode(data, value_radiob){
		var value_radiob = $('input:radio[name=airquality]:checked').val();
			if (value_radiob=="ozone"){
				<!--var red=0; var green=0; var blue=0;-->
				if (data<=45){
					red=49/255; green=163/255; blue=84/255;
					}
				if (data>45 && data<=60){
					red=254/255; green=196/255; blue=79/255;
					}	
				if (data>60){
					red=240/255; green=59/255; 	blue=32/255;
					}
				return new WorldWind.Color(red, green, blue, 1);
			}
			if (value_radiob=="carbonm"){
				var red=0; var green=0; var blue=0;
				if (data<=2.5){
					red=255/255; green=247/255; blue=188/255;    
					}
				if (data>2.5 && data<=4){
					red=254/255; green=196/255; blue=79/255;
					}
				if (data>4){
					red=217/255; green=95/255; 	blue=14/255;   
					}
			return new WorldWind.Color(red, green, blue, 1);
			}
		}
			
		// Register an event listener to be called when the page is loaded.
		window.addEventListener("load", eventWindowLoaded, false);
		
		// Define the event listener to initialize Web World Wind.
		function eventWindowLoaded() {
		
			// Create a World Window for the canvas.
			var wwd = new WorldWind.WorldWindow("canvasOne");
		
			// Add some image layers to the World Window's globe.
			wwd.addLayer(new WorldWind.BMNGOneImageLayer());
			wwd.addLayer(new WorldWind.BingAerialWithLabelsLayer());

			// Add a compass, a coordinates display and some view controls to the World Window.
			wwd.addLayer(new WorldWind.CompassLayer());
			wwd.addLayer(new WorldWind.CoordinatesDisplayLayer(wwd));
			wwd.addLayer(new WorldWind.ViewControlsLayer(wwd));
		
			// Making the slider change the data by hour
			slider.on('change', function(data)
			{var hour=data.newValue+'h';
			placemarks(hour);
			$('#time').text(data.newValue + ':00');
			});
			
			// Making radio buttons change data when clicked, based on current value of slider
			$('input:radio[name=airquality]').on('change', function() {
				var hour=$('#ex1').val()+'h';
				placemarks(hour);
			});
				
			// Adjust the Navigator to place Springfield in the center of the Web World Window.
			wwd.navigator.lookAtLocation.latitude = 42.107821;   
			wwd.navigator.lookAtLocation.longitude = -72.588895;    
				// Approx. 3000 meters above the ellipsoid
				wwd.navigator.range = 3e3; 
				// Tilt globe by 45 degrees for 3D view
				wwd.navigator.tilt = 45;

			//Ozone 
			var aq = {
				'Trees': {'lat': 42.103475, 'lon': -72.591092, 
					'ozone': {'10h':51.0855225, '11h': 54.665, '12h': 63.65606, '13h':51.0855225, '14h': 37.98264, '15h': 48.03839},
					'carbonm': {'10h':4.190411, '11h': 1.634839, '12h': 2.503061, '13h': 2.9766442, '14h':3.187332, '15h':3.367578}
				},
				'NoTrees': {'lat': 42.103283, 'lon': -72.592528,
					'ozone': {'10h': 32.13295, '11h': 69.19525, '12h': 67.8464, '13h': 68.37934, '14h':59.388485, '15h':59.388485},
					'carbonm': {'10h':2.238302, '11h': 4.546313, '12h': 5.804047, '13h': 3.794387, '14h':4.09576225, '15h':4.09576225}
				}
			};

		//Placing placemarks with air pollution data by hour
	
		placemarks('10h');
			function placemarks(hour){
			var value_radiob = $('input:radio[name=airquality]:checked').val();
					
			//Add a placemark at Trees, Springfield
			placemarkAttributes = new WorldWind.PlacemarkAttributes();
			placemarkAttributes.imageScale = 15;
			placemarkAttributes.imageColor = colorcode(aq.Trees[value_radiob][hour],value_radiob);  
			var placemark = new WorldWind.Placemark(
				new WorldWind.Position(aq.Trees.lat,aq.Trees.lon,50),
				true,
				placemarkAttributes
			);
			var placemarkLayer = new WorldWind.RenderableLayer("Placemarks");
			placemarkLayer.addRenderable(placemark);
			wwd.addLayer(placemarkLayer);
		
			//Add a placemark at NoTrees, Springfield
			placemarkAttributes = new WorldWind.PlacemarkAttributes();
			placemarkAttributes.imageScale = 15;
			placemarkAttributes.imageColor = colorcode(aq.NoTrees[value_radiob][hour],value_radiob);  
			var placemark = new WorldWind.Placemark(
				new WorldWind.Position(aq.NoTrees.lat,aq.NoTrees.lon, 50),
				true,
				placemarkAttributes
			);
			var placemarkLayer = new WorldWind.RenderableLayer("Placemarks");
			placemarkLayer.addRenderable(placemark);
			wwd.addLayer(placemarkLayer);
		
			
		}
	}
	</script>
	
	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Interactive Graphs</h3>
            </div>
            <div class="panel-body">
			<div style="text-align: center;">
			<div class="row">
			<div class="col-sm-6">
				<iframe width="480" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~pkharel/21.embed"></iframe>
			</div>
			<div class="col-sm-6">
				<iframe width="480" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~pkharel/23.embed"></iframe>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="page-header">
      </div>
      <div class="row" style=text-align:justify;>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"  id="results-intro">Introduction</h3>
            </div>
            <div class="panel-body">
			Exposures to traffic pollution can have adverse consequences on an individual’s health. In the US context, such health consequences are even more pronounced in the state of Massachusetts, according to the Center for Diseases Control and Prevention. Springfield is the third largest city in Massachusetts situated in the western part of New England. In 2010, the metropolitan area had a population of approximately 700,000 people. According to a news <a href="http://www.masslive.com/living/index.ssf/2012/06/many_triggers_for_asthmas_rise_in_the_northeast.html">article</a> published in 2012, childhood asthma rate in Springfield was as high as 17%, higher than both the state and national averages.
            <br><br>
			Given the high rates of childhood asthma prevalence in Springfield, our study investigated the role of urban trees in improving air quality caused by traffic pollution. <strong>Our specific hypothesis to be tested was: After controlling for traffic exposure, an urban park with trees will have better air quality (lower levels of carbon monoxide and ozone) than an urban park without trees.</strong> By employing <a href="http://openairquality.eco.umass.edu/arduinosensors">Arduino sensors</a> developed by UMass Amherst students, we collected data on ozone and carbon monoxide in two unique locations to assess whether the City of Springfield should invest in more urban tree planting in an effort to provide cleaner air for their citizens. One goal of this project was to start a citizen science effort: specifically, to teach Springfield urban youth about open source air sensors and have them help collect data in parks they sometimes visit.
		  </div>
		</div>
        </div><!-- /.col-sm-5 -->
		</div>
	 <div class="row" style=text-align:justify;>
		<div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Data Collection</h3>
            </div>
            <div class="panel-body">
			<strong><i>High School Kids Trained:</strong></i>:
			<br/><br/>
			<a href = "http://www.makeitspringfield.org/">Make-It Springfield</a> is a community driven creativity center located on Worthington Street in Downtown Springfield. Any member of the community can go for workshops on art, technology, and a variety of other useful skills and hobbies.  Portions of our NASA Europa Challenge team put on a workshop for Springfield youth at Make-it Springfield focusing on the basics of the Arduino board and Arduino coding and on the development of the Arduino Air Quality Sensor (see main menu). We also promoted the NASA World Wind Open City Smart air quality project to expose the idea of urban smart cities and, more broadly, the idea of citizen science.  Under our team’s direction, the high schoolers began to learn about Arduino’s by writing  software which made an LED light blink at whatever frequency they set.  They also helped to assemble the Arduino air sensors which would be used in the field by wiring the air sensors to the Arduino board.  
            Later in the week, team members took some of the Springfield high school youth out into the streets of Springfield to deploy the Arduino-based air sensors.  These youths visited two urban park locations, set up the devices and watched as the devices collected data on carbon monoxide and ozone. The city high school youths were amazed that the machines they had just assembled a few days earlier were now gathering scientific data.
			<br><br>
			<strong><i>Location Chosen:</strong></i>
			<br/><br/>
			To test the hypothesis that urban trees influence air quality, we selected two urban park locations, one with significant tree canopy, the other without. The two parks were carefully selected because of their similar traffic patterns and difference in green space.  Both locations were on the corner of Main Street and Bridge Street in downtown Springfield.  They were located diagonally across from each other, in an effort to control for the amount of traffic exposure between the two parks.  Main Street is one of the most frequently used roads in Springfield.  With so many cars emitting harmful pollutants into the air, Main Street may have the worst air quality in Western Massachusetts. 
			We chose the following two locations: <strong>Location 1</strong> – An urban park with ample shade, trees, and grass.  Data would be collected under a tree in the shade; <strong>Location 2</strong> – A courtyard outside a municipal building on 1550 Main Street.  Data would be collected in the sun away from any grass or shade.
			<br><br>
			<strong><i>Deployment:</strong></i>
			<br/><br/>
			Members of our UMass Europa Challenge team, often with Springfield high school youth, would meet at the park location usually during mid-day.  Some days, team members would split up and log data at two different locations. Other days, the team would stay together and use multiple sensors at the same location.  This was done because on the days the team was together, they could compare machines and see the differences in data from each machine.  On days they were separated, they could compare the data from each location and check for trends.  The team recorded data six separate days.
			To start collecting data, a team member would plug the Arduino into a laptop and run the software. The process involved waiting twenty minutes for the machine to warm up and calibrate.  
			<br/><br/>
			Data would then be collected using a software program called “Cool Term” which saves the data as it is collected.  Data could only be collected for about two hours before the machines began to heat up too much and skew the data.  The Arduino would have to be unplugged for at least 30 minutes before the team member could again begin the process of warming up the machine to collect more data.
			The placement of the machine was critical to the integrity of the results.  Data taken in the park would be taken in the shade in order to fully represent the impact of the trees in the data.  On the same token, data from the courtyard would be taken in direct sunlight.  Another important factor was reducing the effects of wind.  The Arduinos would be placed in an open box, the sensors would still receive air flow, but would shield the sensors from the wind. With the data collected, it was then time to analyze and map using NASA Web World Wind (visualized above).
			<br/><br/>
			</div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
	  
	  <div class="row" style=text-align:justify;>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Methods</h3>
            </div>
            <div class="panel-body">
			Air quality data was collected using Arduino sensors through several days of June and July this summer. Each data collection session lasted for anywhere between 40 to 75 minutes and several sessions were conducted each day. Ozone and carbon monoxide data were collected every five seconds.  Similar to the case of Kathmandu valley, data was collected based on the collectors’ relative motion, time of the day, and general positioning in either of the two locations.
            <br><br>
			The collected data from the two locations were also appended to generate one large dataset with approximately 6,500 observations. The dataset was then sorted by both location and hour to compute the average hourly ozone and carbon monoxide level in the atmosphere. This yielded 6 hourly observations from 10 am to 3 pm for each location for both ozone and carbon monoxide, with a total of 24 observations between the 2 locations. Finally, by employing an efficient function in JavaScript defined by air quality and time parameters, the hourly average data for ozone and carbon monoxide were also imported and visualized using Web World Wind.<br/><br/><br/>
		  </div>
		  </div>
		</div>
		<div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Visual Summary of Methods and Results</h3>
            </div>
            <div class="panel-body">
				<div id="video-container" class="panel-body">
				<iframe id=video src="https://www.youtube.com/embed/4TQgdUaMZ-k" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
		  </div>
		  </div>
		</div>
	  </div>
	  
	  <div class="row" style=text-align:justify;>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Results</h3>
            </div>
            <div class="panel-body">
			Our research confirmed our hypothesis that <strong>the urban park with trees in Springfield had lower levels of ozone and carbon monoxide compared to the location without trees.</strong> On an average, the location with trees exhibited 50 Dobson units of ozone while the other location exhibited 59 Dobson units of ozone. Similarly, on an average, location with trees exhibited 3.06 ppm of carbon monoxide while the other location exhibited 4.35 ppm of carbon monoxide. The ozone and carbon monoxide data are also visualized in an interactive Web World Wind map using a time series slider bar.
            <br><br>
			The graphs above also indicate that the levels of ozone and carbon monoxide are higher in location without trees from 11 am to 3 pm.  However, in both cases of ozone and carbon monoxide, there is an exception at 10 am where both the pollutants are counterintuitively higher at the location with trees. Our future work will investigate potential cause behind this anomaly.
			 </div>
		  </div>
		</div>
		<div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Discussion</h3>
            </div>
            <div class="panel-body">
			Our Springfield study reveals that urban areas with trees have better air quality compared to similar urban areas without trees. This finding has potential programmatic implications for the City of Springfield to reassess its current policy on urban tree planting. Lower levels of pollutants in the air due to tree planting would subsequently help reduce current levels of asthma incidence among citizens in Springfield.
		  <br><br>
		    In Springfield, our team coordinated with an actual user community in the data collection phase. We worked with Springfield students and residents outside of our university through the 'Make-it' program and ‘<a href="http://ag.umass.edu/mass4h">4-H</a>’. We showed high school students and some parents how they can collect this data using the Arduino sensors. As a future step, we intend to develop new partnerships and strengthen our existing ties. The overall goal of our outreach is to increase awareness of air pollution to improve health outcomes of citizens living in urban areas like Springfield.
		  </div>
		  </div>
		</div>
	  </div>
	 <div class="scroll-down-instructions"><p>&darr; Scroll down for the full results of our analysis &darr;</p></div>
	</div>
	<%-commonFooter%>

	</body>
</html>


