<!DOCTYPE html>
<!-- Mapping air pollution data for Springfield, Massachusetts using WebWorldWind. -->

<html>

	<head lang="en">
		<%- commonHeader %>
		<title>Springfield Data Visualization</title>
		<!-- Include the Web World Wind library. -->
		<script src="http://worldwindserver.net/webworldwind/worldwindlib.js" type="text/javascript"></script>
		<script src="/js/jquery-3.1.0.slim.min.js" type="text/javascript"></script>
		<script src="/js/bootstrapslider.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/bootstrapslider.css">
			<!-- Should the following style code be moved to stylesheet?-->
		<style>	#ex1Slider .slider-selection {
			background: #BABABA;
			}
		</style>
	</head>

	<body id ="home">
		<%- commonNavigation %>
		<div id = maincontent class="container-fluid">
			<div class="col-sm-12">
				<h1 id="subtitle">Air Quality</h1>
				<h2 id="subtitle">Springfield, Massachusetts, USA</h2>
			</div>
			<div class=row>
				<div class="col-sm-3">
					<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="10" data-slider-max="15" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide"/>
						<span id='time'>0:00</span>
					<form action="">
						<input type="radio" name="airquality" value="ozone" checked>Ozone <br>
						<input type="radio" name="airquality" value="carbonm">Carbon Monoxide<br>
					</form>
				</div>
				<div class="col-sm-6">
					<!-- Create a canvas for Web World Wind. -->
					<canvas id="canvasOne" width="600" height="700"></canvas>

					<!--Time Controls-->
					<div class="interactive" style="position: absolute; top 65px; bottom: 0; width: 100%">
						<!--Date/Time Buttons-->
						<div id="timeControlButtons" style="width: 166px; margin-right: auto; margin-left: auto">
							<div class="btn-group btn-group-sm interactive" role="group" style="float:bottom" aria-label="time controls">
								<button id="time-fast-backward" type="button" class="btn btn-default repeatButton">
									<span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
								</button>
								<button id="time-step-backward" type="button" class="btn btn-default repeatButton">
									<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
								</button>
								<button id="time-reset" type="button" class="btn btn-default" data-bind="click: onTimeReset, css:{active: autoUpdateTime}">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</button>
								<button id="time-step-forward" type="button" class="btn btn-default repeatButton">
									<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
								</button>
								<button id="time-fast-forward" type="button" class="btn btn-default repeatButton">
									<span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
								</button>
							</div>
						</div>
						<!--Date/Time Slider-->
                                    <div id="timeControlSlider"
                                         style="width: 166px; margin-right: auto; margin-left: auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
					</div>
				</div>
			</div>
		</div>

	<script>
	
		var slider = new Slider('#ex1', {
		});
		
		function colorcode(data, value_radiob){
		var value_radiob = $('input:radio[name=airquality]:checked').val();
			if (value_radiob=="ozone"){
				var red=0; var green=0; var blue=0;
				if (data<=50){
					red=49/255; green=163/255; blue=84/255;
					}
				if (data>50 && data<=100){
					red=254/255; green=196/255; blue=79/255;
					}	
				if (data>100){
					red=240/255; green=59/255; 	blue=32/255;
					}
				return new WorldWind.Color(red, green, blue, 1);
			}
			if (value_radiob=="carbonm"){
				var red=0; var green=0; var blue=0;
				if (data<=70){
					red=255/255; green=247/255; blue=188/255;    
					}
				if (data>70){
					red=217/255; green=95/255; 	blue=14/255;   
					}
			return new WorldWind.Color(red, green, blue, 1);
			}
		}
			
		// Register an event listener to be called when the page is loaded.
		window.addEventListener("load", eventWindowLoaded, false);
		
		// Define the event listener to initialize Web World Wind.
		function eventWindowLoaded() {
		
			// Create a World Window for the canvas.
			var wwd = new WorldWind.WorldWindow("canvasOne");
		
			// Add some image layers to the World Window's globe.
			wwd.addLayer(new WorldWind.BMNGOneImageLayer());
			wwd.addLayer(new WorldWind.BingAerialWithLabelsLayer());

			// Add a compass, a coordinates display and some view controls to the World Window.
			wwd.addLayer(new WorldWind.CompassLayer());
			wwd.addLayer(new WorldWind.CoordinatesDisplayLayer(wwd));
			wwd.addLayer(new WorldWind.ViewControlsLayer(wwd));
		
			//Making the slider change the data by hour
			slider.on('change', function(data)
			{var hour=data.newValue+'h';
			placemarks(hour);
			$('#time').text(data.newValue + ':00');
			});
				
			// Adjust the Navigator to place Springfield in the center of the Web World Window.
			wwd.navigator.lookAtLocation.latitude = 42.107821;   
			wwd.navigator.lookAtLocation.longitude = -72.588895;    
				// Approx. 2 million meters above the ellipsoid
				wwd.navigator.range = 1e4; 

			//Ozone
			var aq = {
				'Trees': {'lat': 42.103475, 'lon': -72.591092,   
					'ozone': {'10h': 32.13295, '11h': 63.89776, '12h': 66.03314, '13h':  68.37934, '14h': 37.98264, '15h': 48.03839},
					'carbonm': {'10h': 3.134553, '11h': 4.14836, '12h': 4.230732, '13h': 3.794387, '14h': 3.187332, '15h':3.367578}
				},
				'NoTrees': {'lat': 42.103283, 'lon': -72.592528,   
					'ozone': {'10h': 32.13295, '11h': 63.89776, '12h': 66.03314, '13h':  68.37934, '14h': 37.98264, '15h': 48.03839},
					'carbonm': {'10h': 3.134553, '11h': 4.14836, '12h': 4.230732, '13h': 3.794387, '14h': 3.187332, '15h':3.367578}
				}
			};

		//Placing placemarks with air pollution data by hour
	
		placemarks('0h');
			function placemarks(hour){
			var value_radiob = $('input:radio[name=airquality]:checked').val();
					
			//Add a placemark at Trees, Springfield
			placemarkAttributes = new WorldWind.PlacemarkAttributes();
			placemarkAttributes.imageScale = 30;
			placemarkAttributes.imageColor = colorcode(aq.Trees[value_radiob][hour],value_radiob);  
			var placemark = new WorldWind.Placemark(
				new WorldWind.Position(aq.Trees.lat,aq.Trees.lon,0),
				true,
				placemarkAttributes
			);
			var placemarkLayer = new WorldWind.RenderableLayer("Placemarks");
			placemarkLayer.addRenderable(placemark);
			wwd.addLayer(placemarkLayer);
		
			//Add a placemark at NoTrees, Springfield
			placemarkAttributes = new WorldWind.PlacemarkAttributes();
			placemarkAttributes.imageScale = 30;
			placemarkAttributes.imageColor = colorcode(aq.NoTrees[value_radiob][hour],value_radiob);  
			var placemark = new WorldWind.Placemark(
				true,
				placemarkAttributes
			);
			var placemarkLayer = new WorldWind.RenderableLayer("Placemarks");
			placemarkLayer.addRenderable(placemark);
			wwd.addLayer(placemarkLayer);
		
			
		}
	}
	</script>
	
		</div>
	</body>
</html>


